.foto-circulo {
     max-width: 300px;
     max-height: 300px;
}

.fa-whatsapp {
     color: green;
}

.productos {
     background-color: khaki;
}

.footer {
     background-color: #686963;
     color: white;
}
